header
{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: end;
    /*margin-bottom: 5px;*/
}

header > p
{
    margin: 10px;
}

.book-container {
    border: solid black 1px;
    border-radius: 10px;
    display: grid;
    margin-bottom: 5px;
    background: lightgray;
}

.book-info {
    grid-column: 1/4;
    grid-row: 1;
}

.book-action
{
    grid-column: 4;
    grid-row: 1;
    /*display: flex;*/
    /*justify-content: stretch;*/
    text-align: end;
}

.book-action p
{
    margin: 20px;
}

.book-title {
    font-weight: bolder;
    text-decoration: underline;
}

.container-btn
{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.add-btn
{
    display: block;
    color: whitesmoke;
    background: mediumslateblue;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    line-height:40px;
    left: 1px;
}